.body {
    background-color: #306bac;
    height: 100vh;
}

.myBtn {
    height: 6em;
    background-color: #1d1d1f !important;
    font-weight: bold !important;
}

.myBtn:hover {
    background-color: #306bac !important;
    background-color: #1d1d1f !important;
    border: 1px solid lightskyblue !important;
    color: lightskyblue !important;
}

.textoBlanco {
    color: #fbfbfb !important;
}
