.body {
    background-color: #306bac;
}

.myBtn {
    background-color: #306bac !important;
    color: white !important;
    border: solid 1px lightseagreen !important;
    height: 6em;
}

.myBtn:hover {
    background-color: lightseagreen !important;
}
