:root {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    font-size: 17px;
    margin: 0;
    padding: 0;
    color: white;
    --deep-blue: #002d3c;
    --react-blue: #61dbfb;
    --yellow: #e1ce7a;
    --gray: rgb(209, 213, 219);
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: var(--deep-blue);
}

body::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border-radius: 4px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--yellow) var(--deep-blue);
    }
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
    text-wrap: pretty;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    text-wrap: balance;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    min-height: 100dvh;
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--deep-blue);
}

nav {
    align-self: end;
    padding: 0.5rem;
}

nav a {
    text-decoration: none;
    opacity: 0.8;
}

nav a:hover {
    opacity: 1;
}

.text-lightBlue {
    color: var(--react-blue);
}

.text-yellow {
    color: var(--yellow);
}

.text-gray {
    color: var(--gray);
}

.mt-1 {
    margin-top: 0.5rem;
}

.bg-grad {
    background-color: hsla(219.99999999999997, 4%, 13%, 1);
    background-image: radial-gradient(
            circle at 26% -2%,
            hsla(180.0000000000013, 74%, 35%, 0.17) 34.46019567213906%,
            transparent 111.52108844697476%
        ),
        radial-gradient(
            circle at 33% 22%,
            hsla(227.6470588235294, 0%, 6%, 1) 193.2645292720332%,
            transparent 211.04195225484372%
        ),
        radial-gradient(
            circle at 26% 2%,
            hsla(240, 6%, 93%, 1) 19.797173843284874%,
            transparent 76.52673213557512%
        ),
        radial-gradient(
            circle at 1% 1122%,
            hsla(231.42857142857144, 5%, 23%, 1) 0%,
            transparent 150%
        );
    background-blend-mode: normal, normal, normal, normal;
}

section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 1rem;
}

.aboutSection--intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.aboutSection--intro img {
    height: 5rem;
    width: auto;
    border-radius: 500px;
}

.aboutSection--intro em {
    font-size: 1.5rem;
    margin: 0;
    font-style: normal;
    font-weight: bold;
}

.projectsList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.project {
    width: 100%;
    aspect-ratio: 3 / 2;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    transition: all 0.3s;
    text-align: center;
}

.project:hover {
    box-shadow: 0 0 10px white;
    font-size: 1.1rem;
}

.projectsList:has(.project:hover) .project:not(:hover) {
    color: gray;
    .text-yellow {
        color: darkgray;
    }
}

.logos {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-self: center;
}

.logos img {
    height: 3.5rem;
    width: auto;
}

footer {
    border-top: 1px solid var(--gray);
    width: calc(100% - 2rem);
    padding-top: 1rem;
    text-align: center;
    color: var(--gray);
    font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
    body {
        width: 80%;
    }

    .aboutSection--intro {
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px) {
    body {
        width: 60%;
    }
}
